.edit-panel {
    width: 30%;
    margin: auto;
    margin-top: 10%;
}

.edit-panel > .panel-body > form > div {
    margin: auto;
    margin-top: 10px;
}

.has-error {
    color: red;
}

img {
    height: 180px !important;
}

.row {
    margin: auto;
}

.col-md-2 {
    min-width: 200px;
}